.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
    width: 600px;
    height: 600px;
    border-radius: 10px;
}